<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ParentTable" value ="Service"/>
    <add key="ChildTable" value ="Mechanic"/>
    <add key="FK" value="ServiceID"/>
    <add key="FkServ" value="FK_Service_Mechanic"/>
    <add key="selectAllFromParent" value="select * from Service"/>
    <add key="selectAllFromChildren" value="select * from Mechanic"/>
    <!-- second scenario-->
    <add key="Parent" value ="Car"/>
    <add key="Child" value ="Invoice"/>
    <add key="ParentFK" value="CarID"/>
    <add key="FKCar" value="FK_Car_Invoice"/>
    <add key="selectAllParent" value="select * from Car"/>
    <add key="selectAllChildren" value="select * from Invoice"/>
  </appSettings>
</configuration>